pymongo 
motor
voyageai 
pandas 
datasets 
matplotlib
ipykernel
ipywidgets 
widgetsnbextension 
jupyterlab 
tqdm
certifi
openai
azure-identity
oracledb 
sqlalchemy 
sentence-transformers
datasets 
einops 
numpy<2.0
openai-agents
nest-asyncio
langchain-oracledb 
sentence-transformers 
langchain-openai 
langchain 
langchain-community
langchain-huggingface
tavily-python 
datasets
beir